# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.pyd

# C extension modules
*.so

# Distribution / packaging
.Python
build/
dist/
*.egg-info/
*.egg

# Jupyter Notebook
.ipynb_checkpoints

# VS Code settings
.vscode/

# Pytest
.cache
